{% extends "base.html" %}
{% load static %}

{% block title %} - Home {% endblock %}

{% block content %}

<!-- Main Content -->
<div class="container-fluid layout">
    <div class="section">
        <div class="row">
            <!-- Carousel -->
            <div class="carousel-container col-10">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/carousel/3.jpeg' %}" class="d-block w-100" alt="collection of camera accessories">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/carousel/2.jpg' %}" class="d-block w-100" alt="laptops">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/carousel/1.jpg' %}" class="d-block w-100" alt="happy customer">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/carousel/4.jpg' %}" class="d-block w-100" alt="product selection">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/carousel/5.jpeg' %}" class="d-block w-100" alt="other accesories">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/carousel/6.jpg' %}" class="d-block w-100" alt="gadgets">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-2" id="promo-container">
                <div class="card col-sm-6 mb-3">
                    <img src="{% static 'images/home-section/sonytv.jpg' %}" class="card-img-top" alt="television">
                    <div class="card-body text-center">
                        <p class="card-text">Discover the latest gadgets & tech at unbeatable prices!
                        </p>
                    </div>
                </div>

                <div class="card col-sm-6">
                    <img src="{% static 'images/home-section/soundsystem.jpg' %}" class="card-img-top"
                        alt="sound system">
                    <div class="card-body">
                        <div id="explore-panel" class="text-left">
                            <div class="text-center">
                                <a href="{% url 'products' %}" class="btn btn-outline-primary offcanvas-btn"
                                    role="button">
                                    <i class="fa-solid fa-cart-shopping me-2"></i>Explore Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <!-- Top Deals -->
        <div class="top-deals">
            <h2 class="py-2 px-2 text-center"> <i class="fa-solid fa-fire-flame-curved me-1 ms-1"></i>Top Deals
            </h2>
            <div id="topDealsCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex shop-category-container">
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/ipad-tablets.jpg' %}" alt="Tablets">
                                <p>Tablets</p>
                            </div>
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/laptops.jpg' %}" alt="Laptops">
                                <p>Laptops</p>
                            </div>
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/headphones.jpg' %}" alt="Accessories">
                                <p>Accessories</p>
                            </div>
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/mobile.jpg' %}" alt="Mobile phones">
                                <p>Mobile</p>
                            </div>
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/hp-projectors.jpg' %}" alt="Projectors">
                                <p>Projectors</p>
                            </div>
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/televisions.jpg' %}" alt="Television">
                                <p>Televisions</p>
                            </div>
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/fridge.jpg' %}" alt="Refrigderator">
                                <p>Refrigderator</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex shop-category-container">
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/speakers.jpg' %}" alt="Speakers">
                                <p>Speakers</p>
                            </div>
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/washing-machine.jpg' %}" alt="Washing Machine">
                                <p>Washing Machines</p>
                            </div>
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/gardentools.jpg' %}" alt="Garden tools">
                                <p>Garden Tools</p>
                            </div>
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/smarwatches.jpg' %}" alt="Smart Watches">
                                <p>Smart Watches</p>
                            </div>
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/summer-essentials.jpg' %}" alt="Summer essentials">
                                <p>Summer Essentials</p>
                            </div>
                            <div class="shop-category-item me-2">
                                <img src="{% static 'images/deals/gaming.jpg' %}" alt="gaming">
                                <p>Gaming Accessories</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#topDealsCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#topDealsCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="section">
        <!-- Amazing Offers -->
        <div class="amazing-offers row mt-2">
            <h2 class="py-2 px-2 text-center"><i class="fa-solid fa-gifts ms-1 me-1"></i>Amazing Offers</h2>
            <div class="amazing-offers-container row">
                <div class="card col-sm-6 mb-2" style="width: 18rem;">
                    <img src="{% static 'images/amazing-offers/iPhone-15-Pro.jpg' %}" class="card-img-top" alt="iPhone">
                    <div class="card-body">
                        <p class="card-text">Shop iPhone 15 Pro & Pro Max now <br>
                            <strong class="text-danger">Save up to £100.</strong> Now from £799. Incredible!
                        </p>
                    </div>
                </div>
                <div class="card col-sm-6 mb-2" style="width: 18rem;">
                    <img src="{% static 'images/amazing-offers/tvc.jpg' %}" class="card-img-top" alt="television">
                    <div class="card-body">
                        <p class="card-text">Savings on standby!
                            <br>
                            <strong class="text-danger">Get up to £400 off</strong> selected TVs now
                        </p>
                    </div>
                </div>
                <div class="card col-sm-6 mb-2" style="width: 18rem;">
                    <img src="{% static 'images/amazing-offers/samsung-A35.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Shop the Samsung Galaxy A35 5G <br>
                            <strong class="text-danger">Save £100.</strong> Now from only £239!
                        </p>
                    </div>
                </div>
                <div class="card col-sm-6 mb-2" style="width: 18rem;">
                    <img src="{% static 'images/amazing-offers/deal-of-the-week.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Get fantastic gaming deals of the week <br>
                            Shop now & <strong class="text-danger">save up to £300</strong>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}