<!-- home/templates/home/index.html -->
{% extends "base.html" %}
{% load static %}

{% block title %} - Home {% endblock %}

{% block content %}
<div class="container-fluid page-content">
    <div class="row">
        <div class="col-2 category-content">
            <div class="category-container">
                <div class="category-header">
                    <h3 class="py-2 px-2"> <i class="fa-solid fa-bars ms-2 me-2"></i>Catalogue</h3>
                </div>
                <div class="catalogue-container py-2 px-2 mt-2">
                    <ul class="navbar-nav">
                        <!-- Navigation Links -->
                        <li class="nav-item py-1">
                            <a class="nav-link py-2 px-2" href="#"> <i class="fa-solid fa-bag-shopping me-2"></i> All
                                Products</a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link py-2 px-2" href="#"><i class="fa-solid fa-plane-arrival me-2"></i>New
                                Arrivals</a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link py-2 px-2" href="#"><i class="fa-solid fa-fire me-2"></i>Best Selling</a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link py-2 px-2" href="#"><i
                                    class="fa-solid fa-headphones-simple me-2"></i>Accessories</a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link py-2 px-2" href="#"><i class="fa-solid fa-laptop me-2"></i>Computing</a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link py-2 px-2" href="#"><i class="fa-solid fa-tv me-2"></i>Electronics</a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link py-2 px-2" href="#"><i class="fa-solid fa-gamepad me-2"></i>Gaming</a>
                        </li>
                        <li class="nav-item py-1">
                            <a class="nav-link py-2 px-2" href="#"><i class="fa-solid fa-mobile me-2"></i>Phones</a>
                        </li>
                    </ul>
                </div>
                <div class="catalogue-subcontainer py-2 px-2 mt-2">


                </div>
            </div>
        </div>


        <div class="col-10 content-container">
            <div class="home-page">
                <div class="carousel-container">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/carousel/3.jpeg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/carousel/2.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/carousel/1.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/carousel/4.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/carousel/5.jpeg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/carousel/6.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="shop-category">
                    <h3 class="py-2 px-2"> <i class="fa-solid fa-shopping-bag ms-2 me-2"></i>Shop By Category</h3>
                    <div class="shop-category-container py-2 px-2 mt-2">
                        <div class="shop-category-item">
                            <img src="{% static 'images/categories/1.jpg' %}" alt="Category 1">
                            <p>Category 1</p>
                        </div>
                        <div class="shop-category-item">
                            <img src="{% static 'images/categories/2.jpg' %}" alt="Category 2">
                            <p>Category 2</p>
                        </div>
                        <div class="shop-category-item">
                            <img src="{% static 'images/categories/3.jpg' %}" alt="Category 3">
                            <p>Category 3</p>
                        </div>
                        <div class="shop-category-item">
                            <img src="{% static 'images/categories/4.jpg' %}" alt="Category 4">
                            <p>Category 4</p>
                        </div>
                        <div class="shop-category-item">
                            <img src="{% static 'images/categories/5.jpg' %}" alt="Category 5">
                            <p>Category 5</p>
                        </div>
                        <div class="shop-category-item">
                            <img src="{% static 'images/categories/6.jpg' %}" alt="Category 6">
                            <p>Category 6</p>
                        </div>
                    </div>
                </div>
                <div class="sponsored-products"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}