<!-- home/templates/home/index.html -->
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="category-container">

                </div>
            </div>
            <div class="col-9">
                <div class="product-container">
                    <div class="carousel-container">

                    </div>
                
                    <div class="shop-category">

                    </div>

                    <div class="sponsored-products">

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
