{% extends "base.html" %} {% load static %} {% block title %} - Profile {%
endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}" />
{% endblock %} {% block content %}
<div class="container layout">
  <section>
    <div class="row">
      <div class="col">
        <hr />
        <h2 class="sub-heading">My Profile</h2>
        <hr class="mb-1" />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6 mb-2">
        <p>Default Delivery Information</p>
        <form
          class="mt-4"
          action="{% url 'profile' %}"
          method="POST"
          id="profile-update-form"
        >
          {% csrf_token %} {{ form|crispy }}
          <button type="submit" class="btn btn-outline-primary">
            <i class="fa-solid fa-pen-to-square me-2"></i>Update Information
          </button>
        </form>
      </div>
      <div class="col-12 col-lg-6">
        <p>Order History</p>
        <div class="order-history table-responsive mt-0">
          <table
            class="table table-sm table-borderless table-dark table-striped"
          >
            <thead>
              <tr>
                <th class="small">Reference</th>
                <th class="small">Date</th>
                <th class="small">Items</th>
                <th class="small">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <!-- Looping through 'orders' as passed from the context -->
              <tr>
                <td class="small">
                  <a
                    href="{% url 'order_history' order.order_reference %}"
                    title="{{ order.order_reference }}"
                    >{{ order.order_reference|truncatechars:6}}</a
                  >
                </td>
                <td class="small">{{ order.date }}</td>
                <td class="small">
                  <ul class="list-unstyled">
                    {% for item in order.lineitems.all %}
                    <li>{{ item.product.name }} x {{ item.quantity }}</li>
                    {% endfor %}
                  </ul>
                </td>
                <td class="small">£{{ order.order_total }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block postloadjs %} {{ block.super }}
<script
  type="text/javascript"
  src="{% static 'profiles/js/countryfield.js' %}"
></script>
{% endblock %}
