#profile-update-form .form-control {
  color: #000;
}

#profile-update-form input:placeholder {
  color: #050f1a;
}

#id_default_country,
#id_default_country option:not(:first-child) {
  color: #000;
}

#id_default_country option:first-child {
  color: #050f1a;
}

.order-history {
  max-height: 416px;
  overflow-y: auto;
}

#profile-update-form button {
  background-color: #ff4500;
  color: #000;
  border-color: #000;
}

#profile-update-form button:hover {
  background-color: #000;
  color: #ff4500;
  border-color: #ff4500;
}