html {
    height: 100%;
}

body {
    background-color: #22223b;
}

.header-container {
    padding: 0.5em;
    text-align: center;
}

#nav-container {
    background-color: #4a4e69;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    padding: 0.5em;
    border-radius: 10px;

}

#nav-container a {
   color: #f2e9e4;
}

#nav-container img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

#nav-container button {
    border-color: #f2e9e4;
    
}

#nav-container button i {
    color: #f2e9e4;
}

.page-content {
    margin-top: 5%;
}

.category-container {
    margin-right: 0;
}


.content-container {
    margin-left: 0;
    padding-left: 0;
}

.category-container {
    padding: 0.5em;
    background-color: #4a4e69;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    border-radius: 10px;
    color: #f2e9e4;
    height: 90vh;
}

.home-page {
    padding: 0.5em;
    background-color: #4a4e69;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    border-radius: 10px;
    color: #f2e9e4;
}

.carousel-container img {
   height: 500px;
}