html {
    height: 100%;
}

/* Body */
body {
    background-color: #fff;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

/* Header */
h3 {
    font-size: 1.4rem;
}

.sub-header {
    font-size: 1.2rem;
}

/* Header container */
.header-container {
    text-align: center;
    z-index: 11;
}

/* Navigation container */
#nav-container {
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 0.5em;
    opacity: 0.9;
}

#nav-container a {
    color: #22223b;
}

#nav-container img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

/* Buttons */
nav button {
    color: #fff;
}

#nav-container button {
    background-color: #22223b;
    border-color: #22223b;

}

#nav-container button i {
    color: #fff;
}

#shopping-btn {
    background-color: #22223b;
    color: #fff;
}

#shopping-btn:hover {
    background-color: #fff;
    color: #22223b;
    border-color: #22223b;
}


/* Search bar */
#nav-container input {
    border-color: #22223b;
}

#nav-container input::placeholder {
    color: #22223b;
}

/* Nav-links dropdown */
#account-drop .dropdown-item {
    background-color: #22223b;
    color: #fff;
    font-size: small;
    z-index: 20;
}

#account-drop .dropdown-item:hover {
    background-color: #fff;
    color: #22223b;
}

/* Secondary navigation */
.sec-nav-container {
    padding: 0.5em;
    margin: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    opacity: 0.9;
    z-index: 10;
}

.sec-nav-inner {
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
}

.sec-nav-inner .nav-link:hover {
    background-color: #fff;
    color: #22223b;
    text-decoration: underline;
}

/* Site layout */

#page-content {
    margin: 0.5em;
}

.layout {
    margin-top: 8.5%;
    padding: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
}


/* Home page  */

.home-page {
    padding: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
    opacity: 0.9;
}

/* Carousel container */
.carousel-container img {
    height: 83vh;
}

/* Top deals container */
.top-deals {
    padding: 0.5em;
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    opacity: 0.9;
}

.shop-category-container {
    padding: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
    opacity: 0.9;
}

.shop-category-container img {
    height: 150px;
    width: 150px;
}

/* Amazing offers container */
.amazing-offers {
    padding: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
    opacity: 0.9;
}

.amazing-offers-container {
    padding: 0.5em;
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    opacity: 0.9;
}


/* Product page */
.product-page,
.cart {
    padding: 0.5em;
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    opacity: 0.9;
}

hr {
    border-color: #fff;
    font-weight: bold;
}

.product-container {
    padding: 0.5em;
    margin: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
    display: inline-flex;
    justify-content: space-evenly;
    opacity: 0.9;
}


/* Cart item */
.inner-container,
.empty-container {
    padding: 0.5em;
    margin: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
    opacity: 0.9;
}


.empty-container img {
    height: 400px;
    width: 400px;
}

#product-item {
    margin: 0;
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    opacity: 0.9;
}

#product-item .btn {
    background-color: #fff;
    color: #22223b;
    border-color: #22223b;
}

#product-item .btn:hover {
    background-color: #22223b;
    color: #fff;
    border-color: #fff;
}

.toast-container {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 99999;
}



/* Media queries */

/*---------- Styling for screens with (max-width: 568px) ----------*/

@media (min-width: 320px) and (max-width: 568px) {

    body {
        font-size: 0.9rem;
    }

    /* Main content - home page  */
    .mobile-header {
        background-color: #fff;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: auto;
        display: flex;
        margin: 0 0.5em 0.5em 0.5em;
    }

    .content-container {
        transition: margin-top 0.3s ease-in-out;
    }

    /* Header */
    h3 {
        font-size: 1rem;
    }

    /* Category container */
    .category-container {
        display: none;
    }

    /* Page container */
    .home-page {
        margin-top: 45%;
        padding: 0.5em;
        background-color: #fff;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        color: #22223b;
    }

    .content-container {
        padding: 0.5em;
        overflow-x: hidden;
    }

    /* Carousel container */
    .carousel-container img {
        height: 300px;
    }

    /* Top deals container */
    .shop-category-container {
        gap: 0.5em;
    }

    .shop-category-container img {
        height: 80px;
        width: 80px;
    }

    /* Amazing offers container */
    .amazing-offers {
        margin: 0;
    }

    .amazing-offers-container {
        margin: 0;
        font-size: smaller;
    }


}