html {
    height: 100%;
}

/* Body */
body {
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
}

/* Header */

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

hr {
    border-color: #ff4500 !important;
    font-weight: bold;
}


.sub-header {
    font-size: 1.2rem;
}

/* Header container */
.header-container {
    text-align: center;
    background-color: #000;
    opacity: 0.9;
}

/* Navigation container */
#nav-container {
    backdrop-filter: blur(10px);
    margin: 0 0.5em 0 0.5em;
}


#nav-container a {
    color: #ff4500;
}

#nav-container img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

/* Buttons */
nav button {
    color: #fff;
}

#nav-container button {
    background-color: #000;
    border-color: #ff4500;
    color: #ff4500;

}

#nav-container button:hover {
    background-color: #ff4500;
    border-color: #ff4500;
    color: #000;

}


#shopping-btn {
    background-color: #ff4500;
    color: #fff;
}

#shopping-btn:hover {
    background-color: #fff;
    color: #22223b;
    border-color: #22223b;
}


/* Search bar */
#nav-container input {
    border-color: #ff4500;
}

#nav-container input::placeholder {
    color: #22223b;
}


/* Nav-links dropdown */
#account-drop .dropdown-item {
    background-color: #000;
    color: #ff4500;
    font-size: small;
}

#account-drop .dropdown-item:hover {
    background-color: #ff4500;
    color: #000;
}

/* Secondary navigation */
.sec-nav-container {
    padding: 0.5em;
    backdrop-filter: blur(10px);
}

.sec-nav-inner .nav-link:hover {
    color: #22223b;
    text-decoration: underline;
}

#offcanvasWithBothOptions {
    background-color: #000;
    color: #ff4500;
    opacity: 0.9;
    width: auto;
    font-size: 1rem;
}

.offcanvas a {
    color: #ff4500;
    text-decoration: none;
}

.offcanvas a:hover {
    text-decoration: underline;
}


#cartOffcanvas {
    background-color: #000;
    color: #ff4500;
    font-size: 0.8rem;
}

#cartOffcanvas .offcanvas-btn {
    background-color: #ff4500;
    border-color: #ff4500 !important;
    color: #000;
}

#cartOffcanvas .offcanvas-btn:hover {
    background-color: #000;
    border-color: #ff4500;
    color: #ff4500;
    text-decoration: none;
}

.progress {
    height: 5px;
    border: solid 1px #ff4500;
}

.progress-bar-custom {
    background-color: #ff4500; 
}

.input-group {
    border: solid 1px #ff4500 !important;
    border-radius: 10px;
    width: auto;
}

.qty_input {
    max-width: 60px;
}


#cartOffcanvas .input-group input {
    border-color: #ff4500;
    line-height: inherit;
}

#cartOffcanvas .input-group button {
    color: #ff4500;
    border-color: #000;
    margin: 0;
    line-height: inherit;
}

#cartOffcanvas .input-group .bin {
    align-items: center;

}




/* Site layout */
.layout {
    margin-top: 8.5%;
    padding: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    color: #22223b;
}


/* Home page  */

.home-page {
    padding: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
    opacity: 0.9;
}

/* Carousel container */
.carousel-container img {
    height: 83vh;
}

/* Top deals container */
.top-deals {
    padding: 0.5em;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    opacity: 0.9;
}

.shop-category-container {
    padding: 0.5em;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
    opacity: 0.9;
}

.shop-category-container img {
    height: 150px;
    width: 150px;
}

/* Amazing offers container */
.amazing-offers {
    padding: 0.5em;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    opacity: 0.9;
}

.amazing-offers-container {
    padding: 0.5em;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    opacity: 0.9;
}


/* Product page */
.product-page,
.cart {
    padding: 0.5em;
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    opacity: 0.9;
}

hr {
    border-color: #fff;
    font-weight: bold;
}

.product-container {
    padding: 0.5em;
    margin: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
    display: inline-flex;
    justify-content: space-evenly;
    opacity: 0.9;
}


/* Cart item */
.inner-container,
.empty-container {
    padding: 0.5em;
    margin: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
    opacity: 0.9;
}


.empty-container img {
    height: 400px;
    width: 400px;
}

#product-item {
    margin: 0;
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    opacity: 0.9;
}

#product-item .btn {
    background-color: #fff;
    color: #22223b;
    border-color: #22223b;
}

#product-item .btn:hover {
    background-color: #22223b;
    color: #fff;
    border-color: #fff;
}

.toast-container {
    position: fixed;
    top: 82px;
    right: 8px;
    z-index: 99999;
}

.cart-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;

}


select, 
select option {
    color: #000;
}

select:invalid,
select option {
    color: #aab7c4 !important;
}



/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

}


/* Media queries */

/*---------- Styling for screens with (max-width: 568px) ----------*/

@media (min-width: 320px) and (max-width: 568px) {

    body {
        font-size: 0.9rem;
    }

    /* Main content - home page  */
    .mobile-header {
        background-color: #fff;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: auto;
        display: flex;
        margin: 0 0.5em 0.5em 0.5em;
    }

    .content-container {
        transition: margin-top 0.3s ease-in-out;
    }

    /* Header */
    h3 {
        font-size: 1rem;
    }

    /* Category container */
    .category-container {
        display: none;
    }

    /* Page container */
    .home-page {
        margin-top: 45%;
        padding: 0.5em;
        background-color: #fff;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        color: #22223b;
    }

    .content-container {
        padding: 0.5em;
        overflow-x: hidden;
    }

    /* Carousel container */
    .carousel-container img {
        height: 300px;
    }

    /* Top deals container */
    .shop-category-container {
        gap: 0.5em;
    }

    .shop-category-container img {
        height: 80px;
        width: 80px;
    }

    /* Amazing offers container */
    .amazing-offers {
        margin: 0;
    }

    .amazing-offers-container {
        margin: 0;
        font-size: smaller;
    }


}