html {
    height: 100%;
}

body {
    background-color: #4a4e69;
}

h3 {
    font-size: 1.4rem;
}

.header-container {
    padding: 0.5em;
    text-align: center;
}

#nav-container {
    background-color: #f2e9e4;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    padding: 0.5em;
    border-radius: 10px;

}

nav button {
    color: #fff;
}

#nav-container a {
    color: #22223b;
}

#nav-container img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

#nav-container button {
    background-color: #22223b;
    border-color: #22223b;

}

#nav-container button i {
    color: #fff;
}

#nav-container input {
    border-color: #22223b;
}

#nav-container input::placeholder {
    color: #22223b;
}


#account-drop .dropdown-item {
    background-color: #4a4e69;
    color: #fff;
    font-size: small;
}

#account-drop .dropdown-item:hover {
    background-color: #f2e9e4;
    color: #4a4e69;
}

.page-content {
    margin-top: 5%;
    padding: 0 0.5em;
}

.category-container {
    margin-right: 0;
}

.content-container {
    margin-left: 0;
    padding-left: 0;
}

.category-container {
    padding: 0.5em;
    background-color: #f2e9e4;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    border-radius: 10px;
    color: #fff;
    height: 88vh;
}

.category-header {
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    opacity: 0.9;
    color: #fff;
    height: 5vh;
    margin: 0;
}

.catalogue-container {
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    opacity: 0.9;
    color: #fff;
}

.catalogue-container .nav-link:hover {
    background-color: #f2e9e4;
    color: #22223b;
    border-radius: 10px;
}

.catalogue-subcontainer {
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    opacity: 0.9;
    color: #fff;
    height: 38vh;
}

.home-page {
    padding: 0.5em;
    background-color: #f2e9e4;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    border-radius: 10px;
    color: #22223b;
}

.carousel-container img {
    height: 500px;
}