html {
    height: 100%;
}

/* Body */
body {
    background-color: #22223b;
}

/* Header */
h3 {
    font-size: 1.4rem;
}

/* Header container */
.header-container {
    text-align: center;
}

/* Navigation container */
#nav-container {
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;

}

#nav-container a {
    color: #22223b;
}

#nav-container img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

/* Buttons */
nav button {
    color: #fff;
}

#nav-container button {
    background-color: #22223b;
    border-color: #22223b;

}

#nav-container button i {
    color: #fff;
}


/* Search bar */
#nav-container input {
    border-color: #22223b;
}

#nav-container input::placeholder {
    color: #22223b;
}

/* Nav-links dropdown */
#account-drop .dropdown-item {
    background-color: #22223b;
    color: #fff;
    font-size: small;
}

#account-drop .dropdown-item:hover {
    background-color: #fff;
    color: #22223b;
}

/* Main content - home page  */
.page-content {
    margin-top: 5%;
    
}

/* Category container */



.category-container {
    padding: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    height: 88vh;
    position: fixed;
    width: 15.5%;
}

.category-header {
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    height: 5vh;
    margin: 0;
}

.catalogue-container {
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
}

.catalogue-container .nav-link:hover {
    background-color: #fff;
    color: #22223b;
    border-radius: 10px;
}

.catalogue-subcontainer {
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    height: 38vh;
}

/* Page container */
.home-page {
    padding: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
}

/* Carousel container */
.carousel-container img {
    height: 500px;
}

/* Top deals container */
.top-deals {
    padding: 0.5em;
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
}

.shop-category-container {
    padding: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
    width: 100%;
    display: inline-flex;
    gap: 4em;
    text-align: center;
}

.shop-category-container img {
    height: 150px;
    width: 150px;
}

/* Amazing offers container */
.amazing-offers {
    padding: 0.5em;
    background-color: #fff;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #22223b;
}

.amazing-offers-container {
        padding: 0.5em;
    background-color: #22223b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

/* Media queries */

/*---------- Styling for screens with (max-width: 568px) ----------*/

@media (min-width: 320px) and (max-width: 568px) {

    body {
        font-size: 0.9rem;
    }

    /* Main content - home page  */
    .mobile-header {
        background-color: #fff;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: auto;
        display: flex;
        margin: 0;
    }

    /* Header */
    h3 {
        font-size: 1rem;
    }

    /* Category container */
    .category-container {
        display: none;
    }

    /* Page container */
    .home-page {
        margin-top: 42%;
        margin-left: 0.5em;
        padding: 0.5em;
        background-color: #fff;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        color: #22223b;
    }

    .content-container {
        padding: 0.5em;
        overflow-x: hidden;
    }

    /* Carousel container */
    .carousel-container img {
        height: 300px;
    }

    /* Top deals container */
    .shop-category-container {
        gap: 0.5em;
    }

    .shop-category-container img {
        height: 80px;
        width: 80px;
    }

    /* Amazing offers container */
    .amazing-offers {
        margin: 0;
    }

    .amazing-offers-container {
        margin: 0;
        font-size: smaller;
    }


}