{% load static %}

<!-- Footer -->
<footer class="footer-bg text-white">
    <div class="container py-4">
        <div class="row justify-content-between">
            <!-- Newsletter sign up -->
            <div class="col-6 col-md-3 newsletter js-rollover" data-radius="50">
                <svg viewBox="0 0 694 549" width="550" height="450">
                    <path
                        d="M74.7,439.6c58.9,76.3,152.2,113.1,224.6,109C585.8,532.3,734.2,295,684.7,94.2C658.7-11.3,508.1-8.6,433.6,9.8C384.1,22,329.1,47.8,277.8,60.4c-42.5,10.5-90,7.2-130.4,17.1C60.4,99-21.1,201.9,4.9,307.6C16.7,355.3,45.2,401.4,74.7,439.6z">
                    </path>
                </svg>
                <!-- Mailchimp form -->
                <form method="POST"
                    action="https://gmail.us8.list-manage.com/subscribe/post?u=803e639edb0e59708ff97911e&amp;id=54cddcb411&amp;f_id=00cbc2e1f0"
                    class="newsletter-form validate" target="_blank" id="mc-embedded-subscribe-form">
                    <h2 class="newsletter-title">Hear from us . . .</h2>
                    <p class="newsletter-text">Subscribe to our weekly newsletter</p>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL" class="visually-hidden">Email Address:</label>
                        <input type="email" name="EMAIL" id="mce-EMAIL" class="shadow required email"
                            placeholder="Enter your email" required>
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <!-- Hidden field to prevent bot signups -->
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <input type="text" name="b_02a9db07ba08bf118ac082693_2229a84992" tabindex="-1" value="">
                    </div>
                    <button type="submit" class="button newsletter-button">Subscribe</button>
                </form>
            </div>

            <!-- Information and Social Media -->
            <div class="col-lg-6 col-md-3 text-end footer-right mt-2">
                <!-- Information Links -->
                <h4 class="font-weight-bold footer-info">Information</h4>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="footer-links">Home</a></li>
                    <li><a href="{% url 'products' %}" class="footer-links">Shop</a></li>
                    <li><a href="{% url 'home' %}#faq" class="footer-links">FAQ</a></li>
                    <li><a href="https://www.termsfeed.com/live/38a16016-7c64-4fb1-b62f-29186603f6af" target="_blank"
                            rel="noopener noreferrer" class="footer-links">Privacy Policy</a></li>
                </ul>

                <!-- Social Media Icons -->
                <div class="social-icons mt-4">
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook"
                        title="Facebook">
                        <img src="{% static 'icons/facebook.png' %}" alt="Facebook Icon" class="social-icon">
                    </a>
                    <a href="https://twitter.com/Georgeminto" target="_blank" rel="noopener noreferrer"
                        aria-label="Twitter" title="Twitter">
                        <img src="{% static 'icons/twitter.png' %}" alt="Twitter Icon" class="social-icon">
                    </a>
                    <a href="https://github.com/GOkwori" target="_blank" rel="noopener noreferrer" aria-label="Github"
                        title="Github">
                        <img src="{% static 'icons/github.png' %}" alt="Github Icon" class="social-icon">
                    </a>
                </div>
            </div>
        </div>

        <!-- Address and Copyright -->
        <div class="row text-center mt-4 p-3">
            <div class="footer-address mt-4">
                <a href="https://www.google.co.uk/maps/place/134+The+Blvd,+Cardiff+CF11+8FW/@51.4821405,-3.2256808,17z/data=!3m1!4b1!4m6!3m5!1s0x486e1b39c452d1bb:0x1be0f42300b06e42!8m2!3d51.4821405!4d-3.2231059!16s%2Fg%2F11pg6g3pc2?entry=ttu&g_ep=EgoyMDI0MTAwMi4xIKXMDSoASAFQAw%3D%3D"
                    target="_blank" class="address-link" title="Grizk Address">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="footer-p mb-2">134 The Boulevard, Canton, Cardiff</p>
                </a>
            </div>
            <div class="footer-address">
                <a href="https://github.com/gokwori/grizk" target="_blank" class="address-link text-center"
                    title="Grizk README">
                    <p class="footer-p">&copy; 2024 Grizk Electronics - Fictional Content. For Educational Purposes
                        Only.</p>
                </a>
            </div>
        </div>
    </div>
</footer>