<!-- Mobile Navigation -->
<div class="d-sm-none mobile-header mt-2">
    <ul class="list-inline">
        <!-- Navigation Links -->
        <li class="py-1 ms-2 list-inline-item">
            <a class="nav-link px-2" href="#"> <i class="fa-solid fa-bag-shopping me-1"></i> Products</a>
        </li>
        <li class="py-1 list-inline-item ms-1">
            <a class="nav-link px-1" href="#"><i class="fa-solid fa-plane-arrival me-1"></i>Arrivals</a>
        </li>
        <li class="py-1 list-inline-item ms-1">
            <a class="nav-link px-1" href="#"><i class="fa-solid fa-fire me-1"></i>Deals</a>
        </li>
        <!-- Cart -->
        <li class="list-inline-item ms-1" id="cart">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text{% endif %} nav-link py-2 px-2"
                href="{% url 'view_cart' %}">
                <div class="text-center d-flex">
                    <i class="fa-solid fa-cart-shopping me-1 mt-1"></i>
                    <p class="my-0">
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        £0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>