{% extends "base.html" %}
{% load static %}

{% block title %} - Internal Server Error {% endblock %}

{% block page_header %}
<div class="container layout">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mb-2">
    <section>
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="sub-heading">Internal Server Error</h2>
                <hr class="mb-1">
            </div>
        </div>
        <div class="row px-0">
            <div class="row">
                <p class="lead">Something went wrong on our end. Please try again later or contact support if the problem persists.</p>
    <hr class="mb-4" />
    <a href="{% url 'home' %}" class="btn blog-btn">Back to Home</a>
            </div>
        </div>
    </section>
    <div class="btt-button shadow-sm" id="bttBtn">
        <a class="btt-link d-flex h-100" title="Back to Top">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
</div>
{% endblock %}
