{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block favicon %}
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    {% endblock %}

    {% block fonts %}
    {% endblock %}

    {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Grizk{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="header-container fixed-top" id="main-header">
        <nav class="row navbar navbar-expand-lg navbar-light pb-0" id="nav-container">
            <div class="col container-fluid px-2 px-lg-3">
                <a class="navbar-brand col-lg-4 d-flex justify-content-start" href="{% url 'home' %}">
                    <h2><i class="fa-regular fa-chess-knight"> Grizk</i></h2>
                </a>

                <!-- Navbar Toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i
                            class="fa-solid fa-bars mt-1"></i></span></button>

                <!-- Search container -->
                <div class="col-12 col-lg-4">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Search Grizk">
                            <button class="btn btn-outline-secondary" title="Search" type="submit">
                                <i class="fa-solid fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <!-- Navbar collapse -->
                <div class="collapse navbar-collapse col-lg-4 justify-content-end container"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav mb-lg-0 ms-lg-4">
                        <!-- Cart -->
                        <li class="nav-item list-inline-item d-none d-md-block" id="cart">
                            <button
                                class="{% if cart_items %} font-weight-bold{% else %}text{% endif %} nav-link btn btn-primary"
                                type="button" data-bs-toggle="offcanvas" data-bs-target="#cartOffcanvas"
                                aria-controls="cartOffcanvas">
                                <div class="text-center">
                                    <i class="fa-solid fa-cart-shopping me-1 mt-1"></i>
                                    <p class="my-0">
                                        {% if total %}
                                        £{{ total|floatformat:2 }}
                                        {% else %}
                                        £0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% include 'includes/secondary-nav.html' %}
        {% include 'includes/mobile-nav.html' %}
    </header>
    <!-- Offcanvas for Cart -->
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="cartOffcanvas"
        aria-labelledby="cartOffcanvasLabel">
        <div class="offcanvas-header">
            {% if request.user.is_authenticated %}
            <h5 class="offcanvas-title mt-4" id="cartOffcanvasLabel">{{ request.user.username|title }}'s Cart <i
                    class="fa-solid fa-cart-shopping ms-2"></i></h5>
            {% else %}
            <h5 class="offcanvas-title mt-4" id="cartOffcanvasLabel">Your Cart<i
                    class="fa-solid fa-cart-shopping ms-2"></i>
            </h5>
            {% endif %}
            <button type="button" class="btn-close mt-4" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr>
        <div class="offcanvas-body">
            <div class="container">
                {% if free_delivery_delta > 0 %}
                <p class="mb-0">
                    Buy <strong>£{{ free_delivery_delta }}</strong> more to get free next day delivery!
                </p>
                <div class="progress my-3">
                    <div class="progress-bar progress-bar-custom" role="progressbar" id="offcanvas-delivery-progress"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div id="offcanvas-cart-totals" data-total="{{ total|default:0 }}"
                    data-threshold="{{ free_delivery_threshold|default:0 }}"></div>
                {% endif %}

                {% if cart_items %}
                {% for item in cart_items %}
                <div class="row">
                    <div class="col-3 my-1">
                        {% if item.product.image %}
                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <p class="my-0">{{ item.product.name }}</p>
                        <p class="my-2">£{{ item.product.price|floatformat:2 }}</p>

                        <div class="row form-group my-3" id="qty-group">
                            <div class="input-group col-3 ms-2" id="offcanvas-qty">
                                <div class="input-group-prepend">
                                    <button type="button" class="decrement-qty btn me-2"
                                        data-item_id="{{ item.product.id }}" id="decrement-qty_{{ item.product.id }}"
                                        onclick="updateQuantity(this, 'decrement')">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="qty_input form-control" type="number" name="quantity"
                                    value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.product.id }}"
                                    id="id_qty_{{ item.product.id }}" readonly>
                                <div class="input-group-append">
                                    <button type="button" class="increment-qty btn ms-2"
                                        data-item_id="{{ item.product.id }}" id="increment-qty_{{ item.product.id }}"
                                        onclick="updateQuantity(this, 'increment')">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-2"></div>

                            <div class="col-3 p-0 ms-1 text-end">
                                <button class="btn remove-item text-center" data-item_id="{{ item.product.id }}"
                                    onclick="removeFromCart(this)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="mt-4">
                    <div class="row">
                        <div class="col-6">
                            <p>Estimated total:</p>
                        </div>
                        <div class="col-6 text-end">
                            <strong>£{{ total|floatformat:2 }}</strong>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6 text-center">
                            <a href="{% url 'view_cart' %}" class="btn btn-outline-primary offcanvas-btn" role="button">
                                <i class="fa-solid fa-cart-shopping me-2"></i>View Cart</a>
                        </div>
                        <div class="col-6 text-center">
                            <a href="{% url 'checkout' %}" class="btn btn-outline-primary offcanvas-btn"
                                role="button"><i class="fa-solid fa-lock me-2"></i>Checkout</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <p>Your cart is empty.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="content-container" id="page-content">
        {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
            {% with message.level as level %}
            {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
            {% else %}
            {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
            {% endwith %}
            {% endfor %}
        </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
</body>

</html>